{
	"parserOptions": { "sourceType": "module", "ecmaVersion": 2022 },
	"ignorePatterns": ["*.br.js", "*.br.mjs"],
	"env": { "es2021": true, "browser": true },
	"rules": {
		// Errors
			"linebreak-style": "error",
			"no-eval": "error",
			"no-undef": "error",
			"eqeqeq": "error",
			"no-dupe-args": "error",
			"no-dupe-keys": "error",
			"no-duplicate-case": "error",
			"no-empty-character-class": "error",
			"no-empty": "error",
			"no-ex-assign": "error",
			"no-extra-boolean-cast": "error",
			"no-func-assign": "error",
			"no-inner-declarations": ["error", "both"],
			"no-invalid-regexp": "error",
			"no-irregular-whitespace": "error",
			"no-obj-calls": "error",
			"no-regex-spaces": "error",
			"no-unreachable": "error",
			"no-unsafe-finally": "error",
			"no-unsafe-negation": "error",
			"use-isnan": "error",
			"valid-typeof": "error",
			"block-scoped-var": "error",
			"curly": "error",
			"dot-location": ["error", "property"],
			"dot-notation": "error",
			"no-caller": "error",
			"no-case-declarations": "error",
			"no-div-regex": "error",
			"no-else-return": "error",
			"no-empty-function": "error",
			"no-extra-bind": "error",
			"no-extra-label": "error",
			"no-fallthrough": "error",
			"no-floating-decimal": "error",
			"no-global-assign": "error",
			"no-implicit-globals": "error",
			"no-implied-eval": "error",
			"no-invalid-this": "error",
			"no-lone-blocks": "error",
			"no-multi-spaces": "error",
			"no-multi-str": "error",
			"no-new-func": "error",
			"no-new-wrappers": "error",
			"no-new": "error",
			"no-octal-escape": "error",
			"no-octal": "error",
			"no-proto": "error",
			"no-redeclare": "error",
			"no-return-assign": "error",
			"no-script-url": "error",
			"no-self-assign": "error",
			"no-self-compare": "error",
			"no-sequences": "error",
			"no-unmodified-loop-condition": "error",
			"no-unused-labels": "error",
			"no-useless-call": "error",
			"no-useless-escape": "error",
			"no-useless-return": "error",
			"no-void": "error",
			"no-with": "error",
			"radix": "error",
			"strict": ["error", "global"],
			"no-delete-var": "error",
			"no-label-var": "error",
			"no-shadow-restricted-names": "error",
			"no-undef-init": "error",
			"no-use-before-define": ["error", { "functions": false }],
			"array-bracket-spacing": "error",
			"block-spacing": "error",
			"brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
			"comma-spacing": "error",
			"comma-style": "error",
			"computed-property-spacing": "error",
			"func-call-spacing": "error",
			"key-spacing": "error",
			"keyword-spacing": "error",
			"no-array-constructor": "error",
			"no-lonely-if": "error",
			"no-multiple-empty-lines": "error",
			"no-nested-ternary": "error",
			"no-new-object": "error",
			"no-trailing-spaces": "error",
			"no-unneeded-ternary": "error",
			"no-whitespace-before-property": "error",
			"object-curly-spacing": ["error", "always"],
			"one-var": ["error", "consecutive"],
			"operator-assignment": "error",
			"operator-linebreak": ["error", "before"],
			"quote-props": ["error", "as-needed"],
			"quotes": ["error", "single", { "avoidEscape": true }],
			"semi-spacing": "error",
			"semi": "error",
			"space-before-blocks": "error",
			"space-before-function-paren": [
				"error",
				{
					"anonymous": "never",
					"named": "never",
					"asyncArrow": "always"
				}
			],
			"space-in-parens": "error",
			"space-infix-ops": "error",
			"space-unary-ops": "error",
			"no-const-assign": "error",
			"no-var": "error",
			"no-throw-literal": "error",
		// Warnings
			"no-console": "warn",
			"no-constant-condition": "warn",
			"no-debugger": "warn",
			"no-mixed-operators": "warn",
			"no-extra-parens": [
				"warn",
				"all",
				{
					"nestedBinaryExpressions": false,
					"returnAssign": false
				}
			],
			"no-prototype-builtins": "warn",
			"array-callback-return": "warn",
			"complexity": ["warn", 15],
			"guard-for-in": "warn",
			"no-extend-native": "warn",
			"no-loop-func": "warn",
			"no-useless-concat": "warn",
			"vars-on-top": "warn",
			"yoda": "warn",
			"no-shadow": [
				"warn",
				{
					"builtinGlobals": true,
					"hoist": "all",
					"allow": ["_", "name"]
				}
			],
			"no-unused-vars": ["error", { "args": "all", "argsIgnorePattern": "^_" }],
			"camelcase": "warn",
			"func-names": ["warn", "as-needed"],
			"id-length": [
				"warn",
				{
					"min": 0,
					"max": 20,
					"exceptions": ["attributeChangedCallback"]
				}
			],
			"max-len": ["warn", { "code": 130, "ignoreComments": true }],
			"max-nested-callbacks": ["warn", 3],
			"max-params": ["warn", 4],
			"max-statements-per-line": ["warn", { "max": 4 }],
			"new-cap": "warn",
			"no-negated-condition": "warn",
			"spaced-comment": ["warn", "always", { "markers": ["#"] }],
			"prefer-const": "warn",
			"no-param-reassign": "warn"
	},
	"overrides": [{ "files": ["*.test.js"], "env": { "jest": true } }]
}